{% extends "layout.html.twig" %}
{% block content %}

{% include 'Team/_head.html.twig' with {'organization': organization} %}

<div class="infos clearfix">
    <a class="btn btn-primary pull-right" href="{{ path('organization_team_create', {'slug': organization.slug}) }}">Create</a>
</div>
<div class="">
    <div class="row">
    {% for team in organization.teams %}
        <div class="col-md-6">
            <div class="card">
                <div class="card-block">
                    <a href="{{ path('organization_team_show', {'slug': team.slug, organization: team.organization.slug}) }}">{{ team.name }}</a>
                    <a></a>
                </div>
                <div class="card-footer">
                    {% for user in team.members %}
                        <a href="#"><img width="30" height="30" src="{{ user.user.avatar }}" alt="{{ user.user.username }}" /></a>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% if loop.index %2 == 0 %}</div><div class="row">{% endif %}
    {% endfor %}
    </div>
</div>
{% endblock content %}
