{% extends "GitcolabAppBundle::layout.html.twig" %}
{% block bodyClass %}organization team show{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@GitcolabAppBundle/Resources/assets/js/team.js' output='js/team.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block body %}

    {% include '@GitcolabApp/Team/_head.html.twig' with {'organization': team.organization} %}

    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <h1>{{ team.name }}</h1>

                <div class="team-stats">
                </div>
            </div>
            <div class="panel-footer">
            </div>
        </div>
    </div>
    <div class="subnav">
        <h4 class="member-title pull-left">Team members</h4>
        <form method="post" action="{{ path('organization_team_access', {'organization': team.organization.slug, 'slug': team.slug}) }}" class="add-to-team pull-right" style="width: 300px;">
            <input type="search" name="member" class="form-control selectize autocomplete-field" placeholder="Add a person" />
        </form>
        <ul class="row">
            {% for member in team.members %}
            <li class="col-md-6 list-item">
                <img src="{{ member.user.avatar }}" class="avatar" height="40" width="40" alt="{{ member.user.username }}" />
                <div class="infos">
                    {{ member.user.username }}
                    <div class="fullname">
                        {{ member.user.fullName }}
                    </div>
                </div>
                <form action="{{ path('organization_team_remove_acess', {'organization': team.organization.slug, 'slug': team.slug}) }}" method="post">
                    <input type="hidden" name="member" value="{{ member.user.id }}" />
                    <input type="submit" class="pull-right btn btn-xs btn-danger" value="Remove" />
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock body %}