<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />

        {% block stylesheets %}
        {% endblock %}
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"  />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"  />
        <title>{% block title %}{% endblock %} - GitColab</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="{% block bodyClass %}{% endblock %}">
        <div id="glob">
            {% block site_header %}
            <nav class="navbar navbar-static-top navbar-dark bg-inverse">
                <div class="container">
                    <nav class="navbar navbar-static-top navbar-dark bg-inverse">
                        <a class="navbar-brand" href="/">GitColab</a>
                        <form class="navbar-form pull-xs-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                        </form>
                        <ul class="nav navbar-nav pull-xs-right">
                            <li class="nav-item">
                                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"><span class="glyphicon glyphicon-plus"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="nav-item"><a class="nav-link" href="{{ path('project_create') }}">New Project</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{{ path('organization_create') }}">New Organization</a></li>
                                </ul>
                            </li>
                            <li class="dropdown nav-item">
                                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                    <img src="{{ gravatar(app.user.email, 20) }}" />
                                    {{ app.user }}<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="nav-item"><a class="nav-link" href="{{ path('user_profile') }}">Settings</a></li>
                                    <li class="divider"></li>
                                    <li class="nav-item"><a class="nav-link" href="{{ path('logout') }}">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
            {% endblock site_header %}
            <div class="container">
                <div class="flash-container">
                    {% block flashes %}
                        {% for name, flashes in app.session.flashbag.all if name in ['success', 'notice', 'error', 'fos_user_success'] %}
                            {% for flash in flashes %}
                                <div class="flash-message flash-{{ name == 'fos_user_success' ? 'success' : name }}">
                                    <a class="close" data-dismiss="alert" href="#">×</a>
                                    {{ flash|trans }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endblock %}
                </div>
                {% block body %}{% endblock %}
            </div>
            {% block javascripts %}
                <script src="{{ asset('/js/bundle.js') }}"></script>
            {% endblock %}
        </div>
    </body>
</html>
