<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />

        {% stylesheets
            '@GitcolabAppBundle/Resources/client/less/style.less'
            filter='less, ?cssrewrite,?yui_css' debug=true
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"  />
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"  />
        <title>{% block title %}{{ 'Welcome'|trans }}{% endblock %} - GitColab</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="{% block bodyClass %}{% endblock %}">
        <div id="glob">
            {% block site_header %}
            <header id="header" role="banner">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/">GitColab</a>
                        </div>
                        <div class="collapse navbar-collapse" id="navbar-collapse-1">
                            <form class="navbar-form navbar-left" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                            </form>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <img src="{{ gravatar(app.user.email, 20) }}" />
                                        {{ app.user }}<span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="{{ path('user_profile') }}">Settings</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-plus"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="{{ path('project_create') }}">New Project</a></li>
                                        <li><a href="{{ path('organization_create') }}">New Organization</a></li>
                                    </ul>
                                </li>
                                <li><a href="#"><span class="glyphicon glyphicon-bell"></span></a></li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
            </header>
            {% endblock site_header %}
            <div class="container">
                <div class="flash-container">
                    {% block flashes %}
                        {% for name, flashes in app.session.flashbag.all if name in ['success', 'notice', 'error', 'fos_user_success'] %}
                            {% for flash in flashes %}
                                <div class="flash-message flash-{{ name == 'fos_user_success' ? 'success' : name }}">
                                    <a class="close" data-dismiss="alert" href="#">×</a>
                                    {{ flash|trans }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endblock %}
                </div>
                {% block body %}{% endblock %}
            </div>
            {% block javascripts %}
                {% javascripts
                    'vendor/socket.io-client/socket.io.js'
                    'vendor/jquery/dist/jquery.js'
                    'vendor/jquery-ui/ui/jquery-ui.js'
                    'vendor/bootstrap/dist/js/bootstrap.min.js'
                    'vendor/tinycon/tinycon.min.js'
                    'vendor/moment/moment.js'
                    'vendor/modernizr/modernizr.js'
                    '@BazingaJsTranslationBundle/Resources/js/translator.js'
                    '@FOSJsRoutingBundle/Resources/public/js/router.js'
                    'vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js'
                    'vendor/selectize/dist/js/standalone/selectize.min.js'
                    '@GitcolabAppBundle/Resources/client/js/app.js'
                filter="?yui_js"
                output="js/main.js"
                %}
                <script src="{{ asset_url }}"></script>
                {% endjavascripts %}
                <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
            {% endblock %}
        </div>
    </body>
</html>
