<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />

        {% block stylesheets %}
        {% endblock %}
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"  />
        <title>{% block title %}{% endblock %} - GitColab</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="{% block bodyClass %}{% endblock %}">
        <div id="glob">
            {% block site_header %}
            <header id="header" role="banner">
                <nav class="navbar navbar-light bg-faded" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header">
                                &#9776;
                            </button>
                            <a class="navbar-brand" href="{{ path('dashboard') }}">GitColab</a>
                        </div>

                        <div class="collapse navbar-toggleable-xs" id="navbar-header">
                            <form class="form-inline pull-xs-left">
                                <input class="form-control" type="text" placeholder="Search">
                            </form>
                            <ul class="nav navbar-nav pull-xs-right">

                                <li class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="octicon octicon-plus"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                                        <li><a class="dropdown-item" href="{{ path('project_create') }}">New Project</a></li>
                                        <li><a class="dropdown-item" href="{{ path('organization_create') }}">New Organization</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <img src="{{ gravatar(app.user.email, 20) }}" />
                                        {{ app.user }}<span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a class="dropdown-item" href="{{ path('user_profile') }}">Settings</a></li>
                                        <li class="dropdown-divider"></li>
                                        <li><a class="dropdown-item"href="{{ path('logout') }}">Logout</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                    </div><!-- /.container-fluid -->
                </nav>
            </header>
            {% endblock site_header %}
            {% block body %}
            <div class="container">
                <div class="flash-container">
                    {% block flashes %}
                        {% for name, flashes in app.session.flashbag.all if name in ['success', 'notice', 'error', 'fos_user_success'] %}
                            {% for flash in flashes %}
                                <div class="flash-message flash-{{ name == 'fos_user_success' ? 'success' : name }}">
                                    <a class="close" data-dismiss="alert" href="#">×</a>
                                    {{ flash|trans }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endblock flashes %}
                </div>
                {% block content %}{% endblock content %}
            </div>
            {% endblock body %}
            {% block javascripts %}
                <script src="{{ asset('/js/bundle.js') }}"></script>
            {% endblock %}

        </div>
    </body>
</html>
