{% extends "GitcolabAppBundle::layout.html.twig" %}

{% block bodyClass %}user edit profile{% endblock %}
{% block body %}
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                Account Profile
            </div>
            <div class="panel-body">
                <form action="#" method="POST" class="fos_user_profile_edit">

                    <fieldset>
                        {{ form_row(form.first_name) }}
                        {{ form_row(form.last_name) }}
                    </fieldset>

                    <fieldset>
                        {{ form_row(form.localisation) }}
                    </fieldset>

                    <div class="form-actions clearfix">
                        {{ form_rest(form) }}

                        <input type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-primary pull-right" />
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Settings</strong>
            </div>
            <div class="panel-body">
                {{ knp_menu_render('user_setting_tabs') }}
            </div>
        </div>
    </div>
{% endblock body %}
