{% extends "GitcolabAppBundle::layout.html.twig" %}
{% block bodyClass %}user settings ssh_keys{% endblock %}
{% block body %}

    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Settings</strong>
            </div>
            <div class="panel-body">
                {{ knp_menu_render('user_setting_tabs') }}
            </div>
        </div>
    </div>

    <div class="col-md-10">
        <div class="panel panel-default ssh-keys">
            <div class="panel-heading">
                SSH Key
            </div>
            <p>This is a list of SSH keys associated with your account. Remove any keys that you do not recognize. </p>
            <div class="panel-body">
                <ul class="list-keys">
                    {% for key in keys %}
                        <li>
                            <div class="clearfix">
                                <div class="pull-left">
                                    <div><strong>{{ key.title }}</strong></div>
                                    <div>Added on {{ key.createdAt | localizeddate('long', 'none') }} — Last used on {{ key.updatedAt| localizeddate('long', 'none') }} </div>
                                </div>
                                <div class="pull-right">
                                    <a href="{{ path('key_delete', {'id': key.id}) }}" class="btn btn-danger btn-inverse"> Delete </a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                    </tbody>
                </ul>
            </div>
        </div>

        <div id="form-add-key-ssh">
            {{ render(controller('GitcolabAppBundle:Key:create')) }}
        </div>
    </div>

{% endblock body %}