{% extends "GitcolabAppBundle::layout.html.twig" %}

{% block bodyClass %}tracker list issue{% endblock %}
{% block body %}
    {% include '@GitcolabApp/Project/_repo_head.html.twig' %}
    <div class="container">
        <div>
            <ul class="nav nav-pills pull-left">
                <li role="presentation"><a href="{{ path('milestone_create', {'slug' : project.fullSlug}) }}">Milestone</a></li>
            </ul>

            <a href="{{ path('issue_create', {'slug' : project.fullSlug}) }}" class="btn btn-primary pull-right">New Issue</a>
        </div>
        <div class="issues-filters">
            <div class="issues-details-filters">
                <ul class="col-md-3 pull-left">
                    <li><input type="checkbox" class="check-all-issues"/></li>
                    <li><a href="#" class="btn btn-link">Open</a> </li>
                    <li><a href="#" class="btn btn-link">Closed</a> </li>
                    <li><a href="#" class="btn btn-link">All</a></li>
                </ul>
                <form class="col-md-7 pull-right">
                    <div class="filter">
                        <select class="selectize">
                            <option value="">Assignee</option>
                            {% for member in project.organization.members %}
                            <option value="{{ member.id }}">{{ member.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="filter">
                        <select class="selectize">
                            <option value="">Author</option>
                            {% for member in project.organization.members %}
                            <option value="{{ member.id }}">{{ member.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="filter">
                        <select class="selectize">
                            <option value="">Milestones</option>
                            {% for milestone in milestones %}
                            <option value="{{ milestone.id }}">{{ milestone.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="filter">
                        <select class="selectize">
                            <option value="">Label</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
        <div class="issues-holder">
            <ul class="issues-list table-striped">
                {% for issue in issues %}
                <li class="issue">
                    <div class="issue-check">
                        <input type="checkbox" />
                    </div>

                    <div class="issue-title">
                        <a href="{{ path('issue_show', {'id': issue.id, 'slug': project.fullSlug}) }}">{{ issue.name }}</a>
                        <div>
                            #{{ issue.number }} opened timeago <a href="#">{{ issue.author }}</a>
                        </div>
                    </div>

                    <div class="issue-infos">

                    </div>
                </li>
                {% else %}
                    <li class="issue text-center">No issues to show</li>
                {% endfor  %}
            </ul>
        </div>
    </div>
{% endblock body %}
