<div class="page-head">
    <div class="container">
        <h1>
            <a href="{{ path('organization_show', {'slug' : project.organization.slug}) }}">
                {{ project.organization }}
            </a>
            <span>/</span>
            <a href="{{ path('project_show', {'slug' : project.fullSlug}) }}">
                {{ project }}
            </a>
        </h1>
        <ul class="nav nav-tabs">
            <li role="presentation" class="nav-item">
                <a href="#" class="nav-link active">Code</a>
            </li>
            <li role="presentation" class="nav-item">
                <a href="#" class="nav-link">Issues <span class="label label-default">0</span></a>
            </li>
            <li role="presentation" class="nav-item">
                <a href="#" class="nav-link">Pull Requests <span class="label label-default">0</span></a>
            </li>
            {% if is_granted('EDIT', project.organization) %}
            <li role="presentation" class="nav-item">
                <a href="{{ path('project_setting', {'slug' : project.fullSlug}) }}" class="nav-link">Settings </a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
