{% extends "GitcolabAppBundle::layout.html.twig" %}

{% block bodyClass %}project show{% endblock %}
{% block body %}

    {% if revision %}

        <div class="repo-head">
            <h1 class="pull-left">{{ project }}</h1>
            <ul class="pull-right nav nav-pills">
                <li role="presentation"><a href="#">Code</a></li>
                <li role="presentation"><a href="#">Issues <span class="badge">0</span></a></li>
                <li role="presentation"><a href="#">Pull Requests <span class="badge">0</span></a></li>
                <li role="presentation"><a href="#">Settings </a></li>
            </ul>

            <div class="repo-meta clearbox">
                <div class="documentation pull-left">
                    {{ project.description }}
                </div>
                <div class="clone-url pull-right">
                    <div class="input-group">
                        <input type="text" class="input-mini " value="" readonly="readonly">
                        <span class="input-group-button">
                            <button aria-label="Copy to clipboard" class="js-zeroclipboard minibutton zeroclipboard-button" data-copied-hint="Copied!" type="button"><span class="glyphicon glyphicon-save"></span></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="overall">
            <ul class="nav">
                <li role="presentation" class="active">
                    <a href="#"><span class="glyphicon glyphicon-dashboard"></span> <strong> {{ project.repository.log.countCommits }} </strong> Commits</a>
                </li>
                <li role="presentation"><a href="#"><strong> {{ refs.branches|length }} </strong>Branch</a></li>
                <li role="presentation">
                    <a href="#">
                        <span class="glyphicon glyphicon-tags"></span>
                        <strong> {{ refs.tags|length }} </strong>
                        Releases
                    </a>
                </li>
                <li role="presentation"><a href="#"><span class="glyphicon glyphicon-user"></span> Contributors</a></li>
            </ul>
        </div>

        <div id="tree-content-holder">
            <div class="commit-head">
                {{ project.repository.getHeadCommit.getShortMessage }}
            </div>
            <div class="commit-meta">
                <img src="{{ gravatar(project.repository.getHeadCommit.getAuthorEmail)}}" width="20" height="20" />
                {{ project.repository.getHeadCommit.getAuthorName }}
                {{ project.repository.getHeadCommit.getAuthorDate|localizeddate('medium', 'none', app.request.locale) }} </dd>
            </div>
            {{ git_tree(tree, revision, path) }}
        </div>

        {% if readme is not null %}
        <div id="readme">
            <h3>{{ readme.filename }}</h3>
            <div class="markdown-render">
                {{ readme.content|raw }}
            </div>
        </div>
        {% endif %}

    {% else  %}
        {% include 'GitcolabAppBundle:Project:_no_commit.html.twig'  %}
    {% endif  %}


{% endblock body %}
