{% extends "GitcolabAppBundle::layout.html.twig" %}

{% block bodyClass %}project show{% endblock %}
{% block body %}

    {% if revision %}
        {% include '@GitcolabApp/Project/_repo_head.html.twig' %}
        <div class="repo-meta">
            <div class="documentation pull-left">
                {{ project.description }}
            </div>
            <div class="clone-url pull-right">
                <div class="input-group">
                    <input type="text" class="input-mini " value="" readonly="readonly" />
                    <span class="input-group-button">
                        <button aria-label="Copy to clipboard" class="js-zeroclipboard minibutton zeroclipboard-button" data-copied-hint="Copied!" type="button"><span class="glyphicon glyphicon-save"></span></button>
                    </span>
                </div>
            </div>
        </div>

        <div class="overall">
            <ul class="nav nav-pills">
                <li role="presentation" class="nav-item">
                    <a href="{{ path('project_commits', {'slug': project.fullSlug, 'branch' : project.defaultBranch}) }}" class="nav-link">
                        <i class="material-icons">restore</i>
                        <strong> {{ project.repository.log.countCommits }} </strong> Commits
                    </a>
                </li>
                <li role="presentation" class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="material-icons">share</i>
                        <strong> {{ refs.branches|length }} </strong>Branch
                    </a>
                </li>
                <li role="presentation" class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="material-icons">local_offer</i>
                        <strong> {{ refs.tags|length }} </strong>
                        Releases
                    </a>
                </li>
                <li role="presentation" class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="material-icons">group</i> Contributors
                    </a>
                </li>
            </ul>
        </div>

        <div id="tree-content-holder">
            <div class="commit-head">
                {{ project.repository.getHeadCommit.getShortMessage }}
            </div>
            <div class="commit-meta">
                <img src="{{ gravatar(project.repository.getHeadCommit.getAuthorEmail)}}" width="20" height="20" />
                {{ project.repository.getHeadCommit.getAuthorName }}
                {{ project.repository.getHeadCommit.getAuthorDate|localizeddate('medium', 'none', app.request.locale) }} </dd>
            </div>
            {{ git_tree(tree, revision, path) }}
        </div>

        {% if readme is not null %}
        <div id="readme">
            <h3>{{ readme.filename }}</h3>
            <div class="markdown-render">
                {{ readme.content|raw }}
            </div>
        </div>
        {% endif %}

    {% else  %}
        {% include 'GitcolabAppBundle:Project:_no_commit.html.twig'  %}
    {% endif  %}


{% endblock body %}
