{% extends "GitcolabAppBundle::layout.html.twig" %}

{% block bodyClass %}project settings collaboration{% endblock %}
{% block body %}
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Settings</strong>
            </div>
            <div class="panel-body">
                <ul class="subnav-links nav nav-pills nav-stacked">
                    <li><a href="{{ path('project_setting', {'slug': project.fullSlug}) }}">Options</a></li>
                    <li class="active"><a href="{{ path('project_setting_collaboration', {'repository': project.fullSlug}) }}">Collaborators</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="card panel-default">
            <div class="panel-heading clearfix">
                Team
            </div>
            <div class="card-block">
                {% for team in project.teams %}
                <div class="row">
                   <div class="col-md-8">
                       <h4>{{ team.name }}</h4>
                       <div>{{ team.description }}</div>
                   </div>
                   <div class="col-md-2">
                       <a href="{{ path('project_setting_collaboration', {'repository' : project.fullSlug, 'delete': team.id}) }}">
                           <span class="glyphicon glyphicon-remove"></span>
                       </a>
                   </div>
                </div>
                {% endfor %}
            </div>
            <div class="panel-footer">
                <form method="post" action="{{ path('project_setting_collaboration', {'repository' : project.fullSlug}) }}">
                    <label for="team">Team</label>
                    <select id="team" name="team">
                        {% for team in project.organization.teams %}
                            <option value="{{ team.id }}">{{ team.name }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="{{ 'gitcolab.form.validate'|trans }}" class="btn btn-xs btn-primary" />
                </form>
            </div>
        </div>
    </div>
{% endblock body %}
