{% extends "GitcolabAppBundle::layout.html.twig" %}

{% block bodyClass %}project settings collaboration{% endblock %}
{% block body %}
    {% block content %}
        <div class="container">
            <div class="col-md-2">
                <div class="card">
                    <div class="card-block">
                        <div class="card-title">
                            <strong>Settings</strong>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="{{ path('project_setting', {'slug': project.fullSlug}) }}">Options</a></li>
                        <li class="list-group-item active"><a href="{{ path('project_setting_collaboration', {'repository': project.fullSlug}) }}">Collaborators</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-8">
                <div class="card">
                    <div class="card-title">
                        Team
                    </div>
                    <div class="card-block">
                        {% for team in project.teams %}
                            <div class="row">
                                <div class="col-md-8">
                                    <h4>{{ team.name }}</h4>
                                    <div>{{ team.description }}</div>
                                </div>
                                <div class="col-md-2">
                                    <a href="{{ path('project_setting_collaboration', {'repository' : project.fullSlug, 'delete': team.id}) }}">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="card-footer">
                        <form method="post" action="{{ path('project_setting_collaboration', {'repository' : project.fullSlug}) }}">
                            <label for="team">Team</label>
                            <select id="team" name="team">
                                {% for team in project.organization.teams %}
                                    <option value="{{ team.id }}">{{ team.name }}</option>
                                {% endfor %}
                            </select>
                            <input type="submit" value="{{ 'gitcolab.form.validate'|trans }}" class="btn btn-xs btn-primary" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endblock content %}
{% endblock body %}
