{% set repo_url = 'git@' ~ gitcolab_url ~ ':' ~ project.fullSlug ~ '.git' %}
<div id="repo-content" class="container">
    <div id="repo-bare">
        <div id="repo-bare-start">
            <div class="card">
                <div class="card-block">
                    <div class="card-title"><h5>Clone this repository</h5></div>

                    <div id="repo-clone" class="clear text-center">
                        <div class="btn-group">
                            <button class="btn btn-primary btn-inverse" id="repo-clone-ssh" data-link="{{ repo_url }}">SSH</button>
                            <button class="btn btn-primary btn-inverse" id="repo-clone-https" data-link="https://{{ repo_url }}">HTTPS</button>

                            <input id="repo-clone-url" type="text" class="form-control pull-left" value="{{ repo_url }}" readonly="">
                            <button class="btn btn-primary btn-inverse pull-xs-left" id="repo-clone-copy" data-copy-val="val" data-copy-from="#repo-clone-url" original-title="">Copy</button>
                        </div>
                        <p class="text-xs-center clearbox" id="repo-clone-help">Need help cloning? Visit <a target="_blank" href="http://git-scm.com/book/en/Git-Basics-Getting-a-Git-Repository">Help</a>!</p>
                    </div>
                </div>

            </div>
            <div class="card">
                <div class="card-block">
                    <div class="card-title"><h5>Create a new repository on the command line</h5></div>
                </div>
                <div id="repo-bare-cmd" class="text-center">

                    <pre class="text-left">
                    touch README.md
                    git init
                    git add README.md
                    git commit -m "first commit"
                    git remote add origin <span class="clone-url">{{ repo_url }}</span>
                    git push -u origin master
                    </pre>
                </div>
            </div>
           <div class="card">
               <div class="card-block">
                   <div class="card-title">
                       <h5>Push an existing repository from the command line</h5>
                   </div>
               </div>
               <div id="repo-bare-remote" class="text-center">

                    <pre class="text-left radius">
                    git remote add origin <span class="clone-url">{{ repo_url }}</span>
                    git push -u origin master
                    </pre>
                </div>
            </div>
        </div>
    </div>
</div>
